@import '@src/styles/functions';

.root {
  position: relative;
  padding-top: calc(var(--layout-columns-gap) * 6);
  background-color: var(--white);
  box-shadow: 0 0 0 calc(var(--layout-columns-gap) * 0.5) var(--white);
  @include mobile {
    padding-top: calc(var(--layout-columns-gap) * 4);
  }
  .nameContainer {
    position: relative;
    display: flex;

    flex-direction: column;

    > span {
      color: var(--white);
    }
  }
  .container {
    margin-top: calc(var(--layout-columns-gap) * 2);

    align-items: center;

    .descWrapper {
      position: relative;
      font-style: italic;

      grid-column: 3 / 7;
      @include mobile {
        margin-top: calc(var(--layout-columns-gap) * 1);
        grid-column: 2 / 6;
      }

      // &:after {
      //   display: block;
      //   content: '';
      //   margin-top: var(--layout-columns-gap);
      //   background-color: var(--black);
      //   width: 30%;
      //   height: 2px;
      //   bottom: 0;
      // }
    }

    .descWrapperBottom {
      grid-column: 9 / 15;
      @include mobile {
        grid-column: 1 / 7;
        margin-top: calc(var(--layout-columns-gap) * 1);
      }

      .buttonContainer {
        margin-top: var(--layout-columns-gap);
        width: max-content;
      }
    }
    .imageContainer {
      height: 53vw;
      position: relative;
      grid-column: 9 / 17;
      @include mobile {
        height: 110vw;
        grid-column: 1 / 7;
      }
      > img {
        @include mobile {
          border-radius: calc(var(--layout-columns-gap) * 0.5);
        }
        border-radius: calc(var(--layout-columns-gap) * 1);
      }
    }
  }
}
